@import "../mixins";

.b-btn-action {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  padding: 5px 12px;

  &:hover {

  }

  .fa {
    margin-right: 5px;
  }

  span {
    border-bottom: 1px dotted $c-dark;
  }

  &:hover, &.is-active {
    border-color: $c-3;
    span {
      border-color: transparent;
    }
  }
}

.f-btn-action {
  color: $c-dark;
  line-height: 1;
  white-space: nowrap;

  .fa {
    color: $c-default;
    font-size: 130%;
    vertical-align: sub;
  }
  &:hover, &.is-active {
    .fa {
      color: $c-dark;
    }
  }
}

.button-default {
  @include font(12, 12);
  border-radius: 2px;
  border: 1px solid $c-5;
  color: $c-5;
  font-family: $f-default-b;
  padding: 8px 12px;
  text-transform: uppercase;
  &:hover {
    background: $c-5;
    color: $c-white;
    text-decoration: none;
  }
}
