<footer>

</footer>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- bootstrap -->
<script src="../js/scrollspy.js"></script>
<script src="../js/bootstrap.min.js"></script>
<!-- end bootstrap -->
<script src="../js/masonry.pkgd.min.js"></script>
<script src='../js/imagesloaded.pkgd.min.js'></script>
<!-- bxslider -->
<script src="../js/bxslider/jquery.bxslider.min.js"></script>
<!-- end bxslider -->

<!-- jquery ui -->
<script src="../js/jqueryui/jquery-ui.js"></script>
<!-- end jquery ui -->
<script src="../js/user.js"></script>